{%  extends 'base.html' %}

{% block title %}WuLiu-Chat-Register{% endblock %}

{% block main %}
    <main>
        <section id="register">
            <form method="POST">
                <div class="register_container">
                    <div class="register_title">
                        <img src="{{ url_for('static',filename='img/logo.ico')}}" height="25px">
                        注册
                    </div>
                    <input type="text" required="required" placeholder="用户名*" name="username">
                    <input type="password" required="required" placeholder="密码*" name="password">
                    <input type="email" required="required" placeholder="邮箱*" name="email">
                    <button>用户注册</button>
                    <p>{{ status }}</p>
                </div>
            </form>
        </section>
    </main>

{% endblock %}